#features {
  height: 5000px;
  .backgroun-features {
    background-image: url("../../assets/images/backgroundsurah.svg");
    background-size: contain;
    height: 100%;
  }

  h1 {
    color: black;
    text-align: center;
  }
}
