$primary-color: #3e8a8e;
#nav-items {
  .nav-link {
    cursor: pointer;
    color: #4f4f4f;
    margin-right: 30px;

    &:hover {
      color: $primary-color;
    }

    &.active {
      color: $primary-color;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
