@import "../../initialStyle";

section#jumbotron-header {
  .jumbotron-header-inner {
    display: grid;
    place-items: center;
    text-align: center;

    .MuiButton-root {
      border-radius: 6px;
      background-color: #ff4f4f;
    }
    svg#hero-image {
      width: 100%;
      height: auto;
    }

    .tex-box {
      h1 {
        font-weight: bold;
        font-size: $font-text-1;
        line-height: 81px;
        margin: 0;
        font-style: normal;

        span {
          color: $color-1;
        }
      }

      p {
        color: #c0c0c0;
        margin: 30px 0;
      }
    }
  }
}
