@import "../../initialStyle";

section#about {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/images/aboutbackground.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 322px;
  text-align: center;
  margin-bottom: 142px;
  .inner {
    p {
      &:first-child {
        color: $color-4;
        font-size: $h5;
        font-weight: 600;
        line-height: 24px;
      }

      &:last-child {
        color: $color-6;
        font-size: $h5;
        line-height: 24px;
        font-weight: 600;
        font-style: normal;
      }
    }

    h1 {
      font-size: $h1;
      color: $color-1;
      font-weight: 600;
      line-height: 81px;
      padding: 5px 0 31px 0px;
    }
  }
}
