$color-1: #3e8a8e;
$color-2: #0e1111;
$color-3: #4f4f4f;
$button-color-1: #d93e3e;
$font-text-1: 54px;
$font-text-2: 30px;
$font-text-3: 24px;
$font-text-4: 18px;
$font-text-5: 16px;
$font-text-5: 14px;
$font-arab-1: 40px;
$font-arab-2: 36px;
